.App {
    padding-top: 4rem;
    text-align: center;
    background-color: linen;
}

.card {
    width: 10rem !important;
}

.card:hover{
    box-shadow: 3px 5px lightgray !important;
}
input.p-2.flex-grow-1 {
    margin: 20px;
}
