.App {
    padding-top: 4rem;
    text-align: center;
    background-color: linen;
}

.card {
    width: 10rem !important;
}

.card:hover {
    box-shadow: 3px 5px lightgray !important;
}

input.p-2.flex-grow-1 {
    margin: 20px;
}

.card.text-dark.text-center {
    margin: 5px 5px;
}

.pokemon.list-group-item {
    width: 300px;
    height: auto;
    box-shadow: 0 0 10px 10px gainsboro !important;
}

.pokemon-main-image {
    width: 100px;
    height: auto;
}

.card img.rounded-circle {
    width: 130px;
}
